// {
//     "extends": "eslint:recommended",
//     "parser": "babel-eslint",
//     "globals": {
//         "console": true,
//         "window": true
//     },
//     "rules": {
//         "no-console": "off"
//     }
// }